<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2006-2015 Hewlett-Packard Development Company, L.P.
  ~ Licensed under the MIT License (the "License"); you may not use this file except in compliance with the License.
  -->

<configuration>

  <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss}, %p, %c{20}\(%L\): %m%n</pattern>
    </encoder>
  </appender>

  <logger additivity="false" name="com.autonomy">
    <level value="trace" />
    <appender-ref ref="ConsoleAppender" />
  </logger>

  <root>
    <level value="info" />
    <appender-ref ref="ConsoleAppender" />
  </root>

</configuration>
